@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/select2/select2.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/umd/styles/index.min.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/moment/moment.dist.js"></script>
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/select2/select2.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/bundle/popular.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-bootstrap5/index.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-auto-focus/index.min.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave-phone.dist.js"></script>
}

@section PageScripts {
    <script src="~/js/controllerscripts/subscription/index.js" asp-append-version="true"></script>
}

@* ************** Content ************** *@
<div class="row g-4 mb-4">
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="me-1">
                        <p class="text-heading mb-2">Subscriptions</p>
                        <div class="d-flex align-items-center">
                            <h4 class="mb-2 me-1 display-6"><span id="TotalSubscriptions"></span></h4>
                            @* <p class="text-success mb-2">(+29%)</p> *@
                        </div>
                        <p class="mb-0">Total Users</p>
                    </div>
                    <div class="avatar">
                        <div class="avatar-initial bg-label-primary rounded">
                            <div class="mdi mdi-account-outline mdi-24px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="me-1">
                        <p class="text-heading mb-2">Active Subscriptions</p>
                        <div class="d-flex align-items-center">
                            <h4 class="mb-2 me-1 display-6"><span id="ActiveSubscription"></h4>
                            @* <p class="text-success mb-2">(+18%)</p> *@
                        </div>
                        <p class="mb-0">Last week analytics</p>
                    </div>
                    <div class="avatar">
                        <div class="avatar-initial bg-label-danger rounded">
                            <div class="mdi mdi-account-plus-outline mdi-24px scaleX-n1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="me-1">
                        <p class="text-heading mb-2">Active Users</p>
                        <div class="d-flex align-items-center">
                            <h4 class="mb-2 me-1 display-6">19,860</h4>
                            <p class="text-danger mb-2">(-14%)</p>
                        </div>
                        <p class="mb-0">Last week analytics</p>
                    </div>
                    <div class="avatar">
                        <div class="avatar-initial bg-label-success rounded">
                            <div class="mdi mdi-account-check-outline mdi-24px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="me-1">
                        <p class="text-heading mb-2">Pending Users</p>
                        <div class="d-flex align-items-center">
                            <h4 class="mb-2 me-1 display-6">237</h4>
                            <p class="text-success mb-2">(+42%)</p>
                        </div>
                        <p class="mb-0">Last week analytics</p>
                    </div>
                    <div class="avatar">
                        <div class="avatar-initial bg-label-warning rounded">
                            <div class="mdi mdi-account-search mdi-24px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Users List Table -->
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Subscription Details</h5>
        <div class="d-flex justify-content-between align-items-center row py-3 gap-3 gap-md-0">
            <div class="col-md-4 subscription_status"></div>
            <div class="col-md-4 subscription_type"></div>
            <div class="col-md-4 discount_type"></div>
        </div>
    </div>
    <div class="card-datatable table-responsive">
        <table class="datatables-users table">
            <thead class="border-top table-light">
                <tr>
                    <th></th>
                    <th></th>
                    <th>Subscription</th>
                    <th>Billing Cycle</th>
                    <th>Subscription Key</th>
                    <th>Subscription Type</th>
                    <th>Per Day Charge</th>
                    <th>Discount Offered</th>
                    <th>Discount Type</th>
                    <th>Discount Amount</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
    <!-- Offcanvas to add new user -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasAddSubscription" aria-labelledby="offcanvasAddUserLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasAddUserLabel" class="offcanvas-title">Add Susbscription</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body mx-0 flex-grow-0 h-100">
            <form class="add-new-subscription pt-0" id="addNewSubscriptionForm" onsubmit="return false">
                <div class="form-floating form-floating-outline mb-4">
                    <input type="text" class="form-control" id="add-billing-start" placeholder="a" name="billingStart"
                           aria-label="a" />
                    <label for="add-billing-start">Billing Start Date</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <select id="billingDuration" class="select2 form-select">
                        <option value="">Select Duration</option>
                        <option value="1month">1 Month</option>
                        <option value="3months">3 Months</option>
                        <option value="6months">6 Months</option>
                        <option value="1year">1 Year</option>
                    </select>
                    <label for="billingDuration">Billing Duration</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <select id="subscriptionType" class="select2 form-select">
                        <option value="">Select Type</option>
                        <option value="numrooms">Num Of Rooms</option>
                        <option value="obasis">Occupancy Basis</option>
                    </select>
                    <label for="subscriptionType">Subscription Type</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input type="text" class="form-control" id="per-day-charge" placeholder="a" name="perdayCharge"
                           aria-label="a" />
                    <label for="per-day-charge">Per Day Charge</label>
                </div>


                <div class="form-floating form-floating-outline mb-4">
                    <input type="text" id="add-user-email" class="form-control" placeholder="john.doe&#64;example.com"
                           aria-label="john.doe&#64;example.com" name="userEmail" />
                    <label for="add-user-email">Email</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input type="text" id="add-user-contact" class="form-control phone-mask" placeholder="+1 (609) 988-44-11"
                           aria-label="john.doe&#64;example.com" name="userContact" />
                    <label for="add-user-contact">Contact</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input type="text" id="add-user-company" class="form-control" placeholder="Web Developer" aria-label="jdoe1"
                           name="companyName" />
                    <label for="add-user-company">Company</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <select id="user-role" class="form-select">
                        <option value="subscriber">Subscriber</option>
                        <option value="editor">Editor</option>
                        <option value="maintainer">Maintainer</option>
                        <option value="author">Author</option>
                        <option value="admin">Admin</option>
                    </select>
                    <label for="user-role">User Role</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <select id="user-plan" class="form-select">
                        <option value="basic">Basic</option>
                        <option value="enterprise">Enterprise</option>
                        <option value="company">Company</option>
                        <option value="team">Team</option>
                    </select>
                    <label for="user-plan">Select Plan</label>
                </div>
                <button type="submit" class="btn btn-primary me-sm-3 me-1 data-submit">Submit</button>
                <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">Cancel</button>
            </form>
        </div>
    </div>
</div>

