@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/datatables-bs5/datatables.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.dist.css">
    <link rel="stylesheet" href="~/vendor/libs/select2/select2.dist.css" />
    <link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/umd/styles/index.min.css" />
}

@section VendorScripts {
    <script src="~/vendor/libs/moment/moment.dist.js"></script>
    <script src="~/vendor/libs/datatables-bs5/datatables-bootstrap5.dist.js"></script>
    <script src="~/vendor/libs/select2/select2.dist.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/bundle/popular.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-bootstrap5/index.min.js"></script>
    <script src="~/vendor/libs/&#64;form-validation/umd/plugin-auto-focus/index.min.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave.dist.js"></script>
    <script src="~/vendor/libs/cleavejs/cleave-phone.dist.js"></script>
}

@section PageScripts {
    <script src="~/js/controllerscripts/Users/users.js" asp-append-version="true"></script>
}

@* ************** Content ************** *@
<div class="row g-4 mb-4">
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="me-1">
                        <p class="text-heading mb-2">Users</p>
                        <div class="d-flex align-items-center">
                            <h4 class="mb-2 me-1 display-6">21,459 <span id="Ankit1"></span></h4>
                            <p class="text-success mb-2">(+29%)</p>
                        </div>
                        <p class="mb-0">Total Owners</p>
                    </div>
                    <div class="avatar">
                        <div class="avatar-initial bg-label-primary rounded">
                            <div class="mdi mdi-account-outline mdi-24px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="me-1">
                        <p class="text-heading mb-2">Total Staff</p>
                        <div class="d-flex align-items-center">
                            <h4 class="mb-2 me-1 display-6">4,567</h4>
                            <p class="text-success mb-2">(+18%)</p>
                        </div>
                        <p class="mb-0">Last week analytics</p>
                    </div>
                    <div class="avatar">
                        <div class="avatar-initial bg-label-danger rounded">
                            <div class="mdi mdi-account-plus-outline mdi-24px scaleX-n1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="me-1">
                        <p class="text-heading mb-2">Active Users</p>
                        <div class="d-flex align-items-center">
                            <h4 class="mb-2 me-1 display-6">19,860</h4>
                            <p class="text-danger mb-2">(-14%)</p>
                        </div>
                        <p class="mb-0">Last week analytics</p>
                    </div>
                    <div class="avatar">
                        <div class="avatar-initial bg-label-success rounded">
                            <div class="mdi mdi-account-check-outline mdi-24px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div class="me-1">
                        <p class="text-heading mb-2">Pending Users</p>
                        <div class="d-flex align-items-center">
                            <h4 class="mb-2 me-1 display-6">237</h4>
                            <p class="text-success mb-2">(+42%)</p>
                        </div>
                        <p class="mb-0">Last week analytics</p>
                    </div>
                    <div class="avatar">
                        <div class="avatar-initial bg-label-warning rounded">
                            <div class="mdi mdi-account-search mdi-24px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Users List Table -->
<div class="card">
    <div class="card-header">
        <h5 class="card-title">User Details</h5>
        <div class="d-flex justify-content-between align-items-center row py-3 gap-3 gap-md-0">
            <div class="col-md-4 user_status"></div>
            <div class="col-md-4 user_type"></div>
            <div class="col-md-4 property_type"></div>
        </div>
    </div>
    <div class="card-datatable table-responsive">
        <table class="datatables-users-details table">
            <thead class="border-top table-light">
                <tr>
                    <th></th>
                    <th></th>
                    <th>Name</th>
                    <th>Phone Numbers</th>
                    <th>Email</th>
                    <th>PAN</th>
                    <th>Aadhar</th>
                    <th>Bank Account</th>
                    <th>Bank</th>
                    <th>Bank IFSC</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Address</th>
                    <th>Property</th>
                    <th>Onboarding Date</th>
                    <th>Onboarding By</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
    <!-- Offcanvas to add new user -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasAddSubscription" aria-labelledby="offcanvasAddUserLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasAddUserLabel" class="offcanvas-title">Add User</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body mx-0 flex-grow-0 h-100">
            <form class="add-new-subscription pt-0" id="addNewUserForm" onsubmit="return false">
                <div class="form-floating form-floating-outline mb-4">
                    <input type="text" class="form-control" id="user_name_first" placeholder="John" name="user_name_first"
                           aria-label="a" />
                    <label for="user_name_first">First Name</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input type="text" class="form-control" id="user_name_last" placeholder="Parker" name="user_name_last"
                           aria-label="a" />
                    <label for="user_name_last">Last Name</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input type="text" class="form-control" id="user_contact1" placeholder="9807890675" name="user_contact1"
                           aria-label="a" />
                    <label for="user_contact1">Contact 1</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input type="text" class="form-control" id="user_contact2" placeholder="9747593695" name="user_contact2"
                           aria-label="a" />
                    <label for="user_contact2">Contact 2</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input type="text" class="form-control" id="user_email" placeholder="john.parker564@gmail.com" name="user_email"
                           aria-label="a" />
                    <label for="user_email">Email</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input type="text" class="form-control" id="user_pan" placeholder="DVDU0U9873" name="user_pan"
                           aria-label="a" />
                    <label for="user_pan">PAN</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input type="text" class="form-control" id="user_aadhar" placeholder="879503485635" name="user_aadhar"
                           aria-label="a" />
                    <label for="user_aadhar">Aadhar</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input type="text" class="form-control" id="user_bank_account_no" placeholder="34567705767" name="user_bank_account_no"
                           aria-label="a" />
                    <label for="user_bank_account_no">Account Number</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input type="text" class="form-control" id="user_bank" placeholder="SBI" name="user_bank"
                           aria-label="a" />
                    <label for="user_bank">Bank</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input type="text" class="form-control" id="user_bank_ifsc" placeholder="SBIN00087" name="user_bank_ifsc"
                           aria-label="a" />
                    <label for="user_bank_ifsc">Bank IFSC</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <select id="user_role" class="select2 form-select">
                        <option value="">Select Role</option>
                        <option value="Super Admin">Super Admin</option>
                        <option value="Hotel Admin">Hotel Admin</option>
                        <option value="Property Owner">Property Owner</option>
                        <option value="Hotel Staff">Hotel Staff</option>
                    </select>
                    <label for="user_role">Role</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <select id="user_status" class="select2 form-select">
                        <option value="">Select Status</option>
                        <option value="Active">Active</option>
                        <option value="InActive">InActive</option>
                    </select>
                    <label for="user_status">Status</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input type="text" class="form-control" id="user_address" placeholder="a" name="user_address"
                           aria-label="a" />
                    <label for="user_address">Address</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input type="text" class="form-control" id="user_property" placeholder="a" name="user_property"
                           aria-label="a" />
                    <label for="user_property">Property Associated</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input type="text" class="form-control" id="user_onboarding_date" placeholder="a" name="user_onboarding_date"
                           aria-label="a" />
                    <label for="user_onboarding_date">OnBoarding Date</label>
                </div>
                <div class="form-floating form-floating-outline mb-4">
                    <input type="text" class="form-control" id="user_onboarded_by" placeholder="a" name="user_onboarded_by"
                           aria-label="a" />
                    <label for="user_onboarded_by">Onboarded By</label>
                </div>
               
                <button type="submit" class="btn btn-primary me-sm-3 me-1 data-submit">Submit</button>
                <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">Cancel</button>
            </form>
        </div>
    </div>
</div>

